<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Base</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- without above 3 scripts toggler button wasnt clickable -->

    </script> -->

  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'index' %}">Django</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'userapp:register' %}">Register <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
          </li>

          {% if user.is_authenticated %}  <!--from views;; user = authenticate('')::user.is_authenticated func works to check if the user is authenticated  -->

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a><!-- as logout is a name of url in main project urls.py itself-->
          </li>

          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'userapp:user_login' %}">Login</a><!-- as logout is a name of url in main project urls.py itself-->
          </li>

          {% endif %}

        </ul>
      </div>
    </nav>


    <div class="container">
      {% block body_block %}
      {% endblock %}
    </div>


  </body>
</html>
